.btn-block {
  display: block;
  background-color: gray;
  padding: 15px;
}

button {
  width: 100px;
  height: 30px;
  background-color: yellow;
  border: none;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
